.*~
.config/Bootstrap Studio/
.config/Meltytech/
.config/Psst/
.config/QMPlay2/
.config/QtProject.conf
.config/VirtualBox/
.config/aqemu/
.config/autostart/
.config/bleachbit/
.config/browserify/
.config/bstudio/
.config/chromium/
.config/dconf/
.config/deluge/
.config/google-chrome/
.config/htop/
.config/kdebugrc
.config/libvirt/
.config/mcomix/
.config/menus/
.config/mimeapps.list
.config/mopidy/
.config/neofetch/
.config/nextjs-nodejs/
.config/nyxt/
.config/opera/
.config/pavucontrol.ini
.config/pipewire/
.config/pulse/
.config/rclone/
.config/spotify-tui/
.config/spotify/
.config/spotifyd/
.config/systemd/
.config/uGet/
.config/vidcutter/
.config/vlc/

.config/emacs/.cache/
.config/emacs/backups/
.config/emacs/auto-save-list/
.config/emacs/straight/
.config/emacs/
/.config/thefuck/
/.config/weechat/
/.config/eww/
*.desktop
